:root {
    /* Variáveis de cor de fundo */

  --white-back: #f4f4f4;
  --dark-back: #171514;
  --monster-color: #685192;
  --monster-green: #459945;
  
  /* Variáveis de Tamanho de Texto */
  --font-size-small: 0.875rem;  /* 14px */
  --font-size-regular: 1rem;    /* 16px */
  --font-size-medium: 1.25rem;  /* 20px */
  --font-size-large: 1.5rem;    /* 24px */
  --font-size-xlarge: 2rem;     /* 32px */
  --font-size-xxlarge: 2.5rem;  /* 40px */
  --font-size-heading: 3rem;    /* 48px */
}

@font-face {
  font-family: 'font-autography';
  src: url('../public/fonts/Autography.otf') format('opentype');
}

@font-face {
  font-family: 'font-monster';
  src: url('../public/fonts/Breathney.ttf') format('truetype');
}
@font-face {
  font-family: 'font-monster-v2';
  src: url('../public/fonts/Devil.otf') format('opentype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171514 ;
    --foreground: #f4f4f4;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
