.navbar {
    background-color: var(--dark-back);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-size-medium);
    text-transform: uppercase;
    z-index: 300;
    opacity: 80%;
    position: fixed;
    width: 100%;
  }
  
  .logo{
    width: 10%;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    min-width: fit-content;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 88px;
      right: 0;
      background-color: var(--dark-back);
      width: 200px;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      z-index: 1000;
    }
  
    .menu.open {
      transform: translateX(0);
    }
  
    .menu li {
      margin: 1rem;
    }
  
    .hamburger {
      display: block;
    }
  }
  